<div id="header">
  <div class="section">
    <div class="logo">
      <a routerLink="/home">Kana Trading</a>
    </div>
    <ul>
      <li q routerLinkActive="selected">
        <a routerLink="/home">Home</a>
      </li>
      <li routerLinkActive="selected">
        <a routerLink="/catalog">Catalog</a>
      </li>
      <li routerLinkActive="selected">
        <a routerLink="/about">About</a>
      </li>
      <li routerLinkActive="selected">
        <a routerLink="/contacts">Contacts</a>
      </li>
    </ul>
  </div>
</div>