<div id="header">
  <div class="section">
    <div class="logo">
      <a routerLink="/home">Kana</a>
    </div>
    <ul>
      <li q routerLinkActive="selected">
        <a routerLink="/home">Inicio</a>
      </li>
      <li routerLinkActive="selected">
        <a routerLink="/catalog">Catalogo</a>
      </li>
      <li routerLinkActive="selected">
        <a routerLink="/about">Acerca de</a>
      </li>
      <li routerLinkActive="selected">
        <a routerLink="/contacts">Contactos</a>
      </li>
    </ul>
  </div>
</div>