<div class="container">
  <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Kana Uniformes</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="article">
          <p>
            Contamos con una tienda en la dirección Carretera Mella Kilometro 7 1/2, El Brisal en la ciudad de Santo Domingo Este, República Dominicana. El teléfono principal de Kana Uniformes es 809-597-8919.
          </p>
          <p>
            Nuestra fabrica de confeccion se encuentra en la dirección Avenida la pista esquina Diego Tristan, El Almirante en la ciudad de Santo Domingo Este, República Dominicana. El teléfono de Kana Uniformes es 809-695-0104.
            </p>
        </div>
      </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Mision</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="article">
        <p>
          Brindar a nuestros clientes un servicio excepcional confeccionado uniformes de alta calidad y siempre comprometidos con las necesidades del cliente.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Vision</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="article">
        <p>
          Liderar la industria de confecciones de uniformes para satisfacer a nuestros clientes.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Valores</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="article">
        <ul>
          <li>
            Responsabilidad
          </li>
          <li>
            Calidad
          </li>
          <li>
            Servicio
          </li>
          <li>
            Agilidad
          </li>
        </ul>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>