<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <mat-card-title>Jose R. Jimenez</mat-card-title>
        <mat-card-subtitle>CEO</mat-card-subtitle>
        <mat-card-content>(809) 224-1019</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Kana Trading</mat-card-title>
        <mat-card-subtitle>Ofice</mat-card-subtitle>
        <mat-card-content>(809) 695-0104</mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <form>
        <div class="example-container"> 
            <mat-form-field appearance="outline">
              <mat-label required>Nombre Completo</mat-label>
              <input matInput placeholder="Nombre" required>
              <mat-icon matSuffix>work_outline</mat-icon>
            </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label required>Email</mat-label>
            <input matInput placeholder="Email" required>
            <mat-icon matSuffix>work_outline</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label required>Phone</mat-label>
            <input matInput placeholder="Phone" required>
            <mat-icon matSuffix>work_outline</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label required>Comentario</mat-label>
            <textarea matInput placeholder="Comentario"></textarea>
          </mat-form-field>
            
          <button mat-button (click)="enviarComentario()">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>