<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <mat-card *ngFor="let contacto of contactos | async">
        <mat-card-title>{{contacto.Posicion}}</mat-card-title>
        <mat-card-subtitle>{{contacto.Nombre}}</mat-card-subtitle>
        <mat-card-content>{{contacto.Telefono}}</mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <form>
        <div class="example-container"> 
            <mat-form-field appearance="outline">
              <mat-label required>Nombre Completo</mat-label>
              <input matInput placeholder="Nombre" required>
              <mat-icon matSuffix>work_outline</mat-icon>
            </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label required>Email</mat-label>
            <input matInput placeholder="Email" required>
            <mat-icon matSuffix>work_outline</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label required>Phone</mat-label>
            <input matInput placeholder="Phone" required>
            <mat-icon matSuffix>work_outline</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label required>Comentario</mat-label>
            <textarea matInput placeholder="Comentario"></textarea>
          </mat-form-field>
            
          <button mat-button (click)="enviarComentario()">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>