<div id="catalog">
  <ul>
    <li>
      <a><img src="./../../assets/images/uniforme1.jpg" alt=""></a>
      <b>Enfermer@s</b>
      <p>
        Pijamas para enfermeras y enfermeros. Todos realizados con un alto grado de calidad y confecciones de primera.
      </p>
    </li>
    <li>
      <a><img src="./../../assets/images/uniforme2.jpg" alt=""></a>
      <b>Doctores</b>
      <p>
        Batas para doctores y doctoras. Todas realizadas con un alto grado de calidad y confecciones de primera.
      </p>
    </li>
    <li>
      <a><img src="./../../assets/images/uniforme3.jpg" alt=""></a>
      <b>Mecanicos</b>
      <p>
        Overall para mecanicos. Todos realizados con un alto grado de calidad y confecciones de primera.
      </p>
    </li>
    <li>
      <a><img src="./../../assets/images/uniforme4.jpg" alt=""></a>
      <b>Cocineros</b>
      <p>
        Batas tipo concineros. Todas realizadas con un alto grado de calidad y confecciones de primera.
      </p>
    </li>
    <li>
      <a><img src="./../../assets/images/uniforme5.png" alt=""></a>
      <b>Graduaciones</b>
      <p>
        Togas y Birretes para la graduación. Todos realizados con un alto grado de calidad y confecciones de primera.
      </p>
    </li>
    <li>
      <a><img src="./../../assets/images/uniforme6.jpg" alt=""></a>
      <b>Escolares</b>
      <p>
        Camisas y Pantalones para escolares. Todas realizadas con un alto grado de calidad y confecciones de primera.
      </p>
    </li>
    <li>
      <a><img src="./../../assets/images/uniforme7.jpg" alt=""></a>
      <b>Deporte</b>
      <p>
        Pantalones y T-Shirt tipo deportivos. Todos realizados con un alto grado de calidad y confecciones de primera.
      </p>
    </li>
    <li>
      <a><img src="./../../assets/images/uniforme8.jpg" alt=""></a>
      <b>Seguridad</b>
      <p>
        Camisas y pantalones para seguridad. Todos realizados con un alto grado de calidad y confecciones de primera.
      </p>
    </li>
  </ul>
</div>