<div id="body">
  <div class="article">
    <img src="./../../assets/images/great-hairstyle.jpg" alt="">
    <h1>Confeccionamos todo tipo de uniformes con calidad excepcional.</h1>
  </div>
  <br />
  <ul>
    <li>
      <a><img src="./../../assets/images/uniforme1.jpg" alt=""></a>
      <b>Enfermer@s</b>
      <p>
        Pijamas para enfermeras y enfermeros. Todos realizados con un alto grado de calidad y confecciones de primera.
      </p>
    </li>
    <li>
      <a><img src="./../../assets/images/uniforme2.jpg" alt=""></a>
      <b>Doctores</b>
      <p>
        Batas para doctores y doctoras. Todas realizadas con un alto grado de calidad y confecciones de primera.
      </p>
    </li>
    <li>
      <a><img src="./../../assets/images/uniforme3.jpg" alt=""></a>
      <b>Mecanicos</b>
      <p>
        Overall para mecanicos. Todos realizados con un alto grado de calidad y confecciones de primera.
      </p>
    </li>
    <li>
      <a><img src="./../../assets/images/uniforme4.jpg" alt=""></a>
      <b>Cocineros</b>
      <p>
        Batas tipo concineros. Todas realizadas con un alto grado de calidad y confecciones de primera.
      </p>
    </li>
  </ul>
  <div>
    <div class="featured">
      <h2>featured</h2>
      <img src="./../../assets/images/featured.jpg" alt="">
      <h3>Múltiples beneficios de usar uniformes</h3>
      <p>
        * Ahorra tiempo. Por las mañanas, llevar uniforme escolar evita estar pensando qué prendas ponerse. Un tiempo que puede ser dedicado a otras tareas, como el desayuno, lo que reduce el estrés para el niño.
      </p>
      <p>
        * Evita faltas de disciplina en las escuelas. Con el uso de uniformes se evita que los alumnos lleven prendas poco adecuadas, como camisetas con frases ofensivas.
      </p>
      <p>
        * Mejora el rendimiento escolar. El uniforme ayuda a mejorar las calificaciones de los alumnos, ya que incrementa su concentración al crearse un ambiente más formal y académico.
      </p>
      <p>
        * Evita las comparaciones. Los uniformes escolares ayudan a reducir las comparaciones negativas entre los alumnos de diferentes niveles económicos, lo que contribuye a aumentar la autoestima de los estudiantes y les proporciona un sentimiento de comunidad.
      </p>
      <p>
        * Publicidad para las escuelas. El uniforme es, en último término, una forma de publicitar a un determinado colegio.
      </p>
      <p>
        * Ahorra dinero. El uniforme ahorra a los padres una gran cantidad de dinero, especialmente en aquellos colegios en los que no existe un proveedor único. En algunas escuelas se ponen en marcha campañas de donaciones, en las que los alumnos ceden las prendas que ya no les valen a otros niños que puedan necesitarlas. Asimismo, el uniforme puede pasar de los hermanos mayores a los más pequeños.
      </p>
      <p>
        * Precios más ajustados. Algunas escuelas dan la opción a los padres de elegir dónde comprar los uniformes escolares, lo que les permite elegir opciones con precios más ajustados. Las empresas que bordan emblemas o escudos escolares ofrecen un ahorro importante de tiempo y dinero a las familias, si bien hay que asegurarse de estar adquiriendo prendas de calidad y con una alta durabilidad.
      </p>
    </div>
    <div class="section">
      <div class="article">
        <h2>hairstyle</h2>
        <p>
          This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forums</a>.
        </p>
        <a href="#">Mike M.</a>
      </div>
      <div class="newsletter">
        <img src="./../../assets/images/skinhead.png" alt="">
        <p>
          Necesita usted uniformes para su compañia, equipo de deporte o promoción?  <span>Llame al (809) 695-0104</span>
        </p>
      </div>
    </div>
  </div>
</div>